<!-- Navigation Container -->
<div class="container">
  <!-- Navbar -->
  <nav
    class="navbar is-fixed-top"
    role="navigation"
    aria-label="main navigation"
  >
    <!-- MISSA Logo -->
    <div class="navbar-brand">
      <!-- Special thanks to Jasmine for fixing this for me before I had a complete mental breakdown - Ana -->
      <a class="navbar-item" href="index.html">
        <span class="is-flex is-align-items-center">
          <img class="missa-logo mr-1" src="images/MISSA-branding/MISSA-logo-wordless.png" alt="MISSA Logo" />
          <p class="is-size-4-desktop is-size-2-mobile is-montserrat has-text-primary">MISSA</p>
        </span>
      </a>
      
      <!-- Navbar Burger -->
      <a
        id="navbar-header-burger"
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar-header"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <!-- Navbar Links -->
    <div id="navbar-header" class="navbar-menu">
      <!-- Home Button -->
      <div class="navbar-start">
        <a class="navbar-item" href="index.html"> Home </a>

        <!-- About Us Button -->
        <a class="navbar-item" href="contact-us.html"> Contact Us </a>

        <!-- DA Team Button -->
        <a class="navbar-item" href="DA-team.html">Data Analytics Team</a>
        
        <!-- Events Dropdown -->
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" tabindex="0"> Events </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="tech-mixer.html"> Tech Mixer </a>
            <a class="navbar-item" href="ITC.html"> ITC </a>
            <a class="navbar-item" href="alumni-reunion.html"> Alumni Reunion </a>
          </div>
        </div>

        <!-- Calendar Button-->
        <a class="navbar-item" href="calendar.html"> Calendar </a>

        <!-- Resources Button -->
        <!-- Give links to career center, cpp resources, missa recordings, contact information -->
        <a class="navbar-item" href="resources.html"> Resources </a>

        <!-- Frequently Asked Questions Button -->
        <a class="navbar-item" href="FAQ.html"> FAQ </a>
      </div>
      <!-- Sign Up/ Get Involved Button -->
      <!-- Membership Page -->
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-link has-text-black-bean" tabindex="0" href="get-involved.html">
              <strong>Get Involved</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>