<head>
  <link rel="stylesheet" href="styles/main.css" />
</head>
<div class="slide-size box is-flex is-flex-direction-column has-background-primary">
  <h3 class="title is-3 has-text-black-bean has-text-centered"><slot name="slide-title">Slide Title</slot></h3>
  <div class="columns h-full is-flex-column-mobile">
    <slot class="column is-flex-grow-4 is-7-tablet is-8-widescreen is-9-fullhd" name="slide-content">
      <p>Slide Content</p>
    </slot>
    <div class="column is-4-tablet is-3-widescreen is-2-fullhd has-text-black-bean has-background-white p-4 my-3 mx-3 is-justified">
      <slot name="slide-description">
        Slide Description
      </slot>
    </div>
  </div>
</div>
