@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Bulma Variables */
:root {
  --bulma-primary-h: 0deg;
  --bulma-primary-s: 100%;
  --bulma-primary-l: 72.75%;
  --bulma-link-h: 0deg;
  --bulma-link-s: 100%;
  --bulma-link-l: 10%;
  --bulma-info-h: 43.9deg;
  --bulma-info-s: 69.49%;
  --bulma-info-l: 88.43%;
  --bulma-success-h: 175deg;
  --bulma-success-s: 54%;
  --bulma-success-l: 75%;
  --bulma-warning-h: 38deg;
  --bulma-warning-s: 99%;
  --bulma-warning-l: 51%;
  --bulma-danger-h: 0deg;
  --bulma-danger-s: 62%;
  --bulma-danger-l: 57%;
}
/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bulma-link-h: 0deg;
    --bulma-link-s: 100%;
    --bulma-link-l: 72.75%;
    --bulma-shadow-h: 43.9deg;
    --bulma-shadow-s: 69.49%;
    --bulma-shadow-l: 88.43%;
  }
}


/* WCAG Accessibility Changes */
/* Link Underline*/
a {
  text-decoration-line: underline;
  color: hsl(var(--bulma-link-h), var(--bulma-link-s), var(--bulma-link-l));
}
.navbar-item, .navbar-link {
  text-decoration-line: none;
}
.button {
  text-decoration-line: none;
}
/* Tab focus border */
a:focus, button:focus {
  border: solid 2px black;
  outline: solid 2px white;
}

/* Carousel */
.splide__slide img {
  width: 100%;
  height: auto;
}

.is-rounded {
  border-radius: var(--bulma-box-radius);
}

.mt--6 {
  margin-top: -6rem;
}

.is-montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.has-text-black-bean {
  color: #330000;
}

.w-fit {
  width: fit-content;
}

.w-25 {
 width: 25%;
}

.gap-1 {
  gap: 1%;
}

.is-serif {
  font-family:'Times New Roman', Times, serif
}

.text-justify {
  text-align: justify;
  word-spacing: 3%;
}

.has-border {
  border: #994444 6px solid;
}

nav {
  padding-left: 10%;
  padding-right: 10%;
}

section {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
}

/* Prevent stretched out images */
img {
  object-fit: cover;
}
/* Undo cover on necessary images */
.no-cover {
  object-fit: contain;
}

/* Linear gradient from MISSA Pink to background.png */
.background-fade {
  background: linear-gradient(to right, hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l)) 0%, hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l)) 40%, hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l), 0%)) center no-repeat, url("../images/background.png") center no-repeat;
  background-size: cover;
}

.box.logo {
  background-color: white;
  width: 25%;
  text-align: center;
}

.center-in-div figure {
  display: inline-table;
  padding-block-start: 50%;
}

.benefits-section-padding {
  padding-top: 5%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
}
